# Python
__pycache__/
*.pyc
venv/
.venv/
env/

# Environment variables
.env

# Node
node_modules/
dist/
build/

# Uploaded files
uploads/

# ChromaDB
backend/vector_store
chroma_db/
*.db

# VS Code
.vscode/

# React
my-app/node_modules/
my-app/build/

# OS
.DS_Store